body{
      margin:0px;
      padding:0px;
}
.conteiner{
      max-width:1200px;
      margin-left:auto;
      margin-right:auto;
}
header{
      background: linear-gradient(108.21deg, #2272FF 0%, #0D03C3 97.89%);
      padding-top:40px;
}
header a{
    color:#FFFFFF;
}
a{
   text-decoration:none;
}
.head{
      display:flex;
      justify-content:space-between;
}
.logo{
      font-family: 'Inter'; 
      font-style: normal; 
      font-weight: 600; 
      font-size: 18px;
      color: #FFFFFF;
}
nav{
     display:flex;
     justify-content:center;
}
nav a{
   font-family: 'Inter';
   font-style: normal; 
   font-weight: 600; 
   font-size: 18px;
   line-height: 21px;
   color: #FFFFFF;
   margin-left:21px;
   margin-right:21px;
}
.head > a:last-child{
      background-color: white;
      border-radius:50px; 
 }   
