body{
      margin:0px;
      padding:0px;
}
.conteiner{
      max-width:1200px;
      margin-left:auto;
      margin-right:auto;
}
header{
      background: linear-gradient(108.21deg, #2272FF 0%, #0D03C3 97.89%);
      padding-top:40px;
}
header a{
    color:#FFFFFF;
}
a{
   text-decoration:none;
}
.head{
      display:flex;
      justify-content:space-between;
      align-items:center;
}
.logo{
      font-family: 'Inter'; 
      font-style: normal; 
      font-weight: 600; 
      font-size: 18px;
      color: #FFFFFF;
}
nav{
     display:flex;
     justify-content:center;
}
nav a{
   font-family: 'Inter';
   font-style: normal; 
   font-weight: 600; 
   font-size: 18px;
   line-height: 21px;
   color: #FFFFFF;
   margin-left:21px;
   margin-right:21px;
}
.head>a:last-child{
      width:123px;
      height:42px;
      display:flex;
      justify-content: center;
      align-items:center;
      background-color: white;
      border-radius:50px; 
      font-family: 'inter';
      font-weight:600px;
      font-size:18px;
      color:#000000;
 }   
h1{
    font-family:'inter';
    font-style:normal;
    font-weight: 800px;
    font-size:72px;
    line-height:80px;
    color:#FFFFFF;
    text-align:center;  
    margin-top:138px;   
}
p{ 
   text-align:center;
   font-family:'inter';
   font-style:normal;
   font-weight:500px;
   font-size: 20px;
   color:#FFFFFF;   
}
form p{
      display:flex;
      justify-content:center;
}
form p{
      width:575px;
      height:67px;
      border-radius:71px;
      background:#FFFFFF;
      display:flex;
      justify-content: space-between;
}
form p img{
      position: absolute;
      width:20px;
      height:15px;
      left: 29px;
      top:26px;
}
form input {
    background-color: none;
    border:none;
    text-align: left;
    border-radius: 71px;
    outline none;   
}
form.email{
      padding-left:74px;
}  
form.submit{
      width: 171px;
      height: 54px;
      background linear-gradient(106.75deg, #2272FF 0%, #0D03C3 100%);
      border-radius: 42px;
      margin-fight:6px;
      text-align: center;
      color:white;
      cursor:pointer;
}
font.submit,:hover{
     background: linear-gradient(106.75deg, #13233F0%, #5750cb 100%); 
}
